
		.searchbox{
			width:100%;
			margin-bottom:30px;
		}
		.searchbar{
			display:block;
			width:100%;
			padding:15px;

			color:#313131;
			font-size:20px;

			appearance:none;
			border:none;
			outline:none;
			background:none;

			box-shadow:0px 0px 8px rgba(0,0,0,.25);
			background-color:rgba(255,255,255,.5);
			border-radius:0px 16px 0px 16px;
			transition:0.4s;
		}
		.searchbox .searchbar:focus {
			box-shadow:0px 0px 16px rgba(0,0,0,.25);
			background-color:rgba(255,255,255,.75);
			
		}